// html{
//     scroll-behavior: smooth;
// }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    // padding-right: 60px;
    padding-top: 160px;
    height: 60vh;
    width: 100%;
    

    .wrapper {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        // align-items: flex-end;

        .buttonMain-light {
            text-decoration: none;
            justify-content: center;
            width: 120px;
            cursor: pointer;
            font-size: 16px;
            font-family: MonaSansMedium;
            color: white;
            padding: 10px 20px 10px 20px;
            background-color: #111;
            border-radius: 24px;
            border: 1px solid #111;
            
            display: flex;
            align-items: center;

            transition: all 0.25s;

            &:hover {
                background-color: #000;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
            }

            .icon {
                padding-left: 6px;
                width: 24px;
                height: 24px;
            }
            
        }

        .buttonMain-dark {
            text-decoration: none;
            justify-content: center;
            width: 120px;
            cursor: pointer;
            font-size: 16px;
            font-family: MonaSansSemiBold;
            color: #111;
            padding: 10px 20px 10px 20px;
            background-color: #FFF;
            border-radius: 24px;
            border: 1px solid white;
            
            display: flex;
            align-items: center;

            transition: all 0.25s;

            &:hover {
                color: #000;
                box-shadow: 0 0px 15px rgba(255, 255, 255, 0.2);
            }

            .icon {
                padding-left: 6px;
                width: 24px;
                height: 24px;
            }
            
        }

        .titleContainer {
            text-align: center;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover;

                margin-bottom: 20px;
            }

            .title {
                font-size: 80px;
                font-family: MonaSansExtraBold;
                color: #111111;
                line-height: 95%;
                margin-bottom: 10px;
    
                &.mini {
                    font-size: 16px;
                    font-family: MonaSansRegular;
                }

                &.dark {
                    color: white;
                }
            }

        }

        .textContent {
            // text-align: right;
            line-height: 130%;
            font-size: 24px;
            width: 60%;
            margin: auto;
            text-align: center;
            color: #565555;
            // transform: translateY(240px);
        
            &.dark {
                color: #8D8D8D;
            }
        }
    }
    
}