.projectsMobile {
        padding-left: 50px;
        width: 100%;

    .wrapper {

        .title {
            padding-bottom: 60px;
            
            &.dark {
                color: white;
            }
        }
        .mobileProjectGroup {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;

            .projectItem {
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    border-radius: 8px;
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }

                .projectContentContainer {

                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    
                    .buttonContainer {

                        display: flex;
                        width: 100%;
                        gap: 20px;

                        a {
                            text-decoration: none;
                            width: inherit;
                        }

                        .primary-light {
                            cursor: pointer;
                            font-size: 14px;
                            padding: 8px 16px 8px 16px;
                            background-color: #111;
                            border-radius: 24px;
                            display: flex;
                            align-items: center;
                            color: white;
                            border: 2px solid #111;
                            font-family: MonaSansMedium;
                            width: 100%;
                            justify-content: center;

                            transition: all 0.25s;


                            .icon {
                                padding-left: 6px;
                            }

                            &:hover {
                                background-color: #000;
                                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
                            }
                        }
                        .primary-dark {
                            cursor: pointer;
                            font-size: 14px;
                            padding: 8px 16px 8px 16px;
                            background-color: white;
                            border-radius: 24px;
                            display: flex;
                            align-items: center;
                            color: #111; 
                            width: 100%;
                            justify-content: center;
                            border: 2px solid white;
                            font-family: MonaSansSemiBold;


                            transition: all 0.25s;


                            .icon {
                                padding-left: 6px;
                            }

                            &:hover {
                                color: #000;
                                box-shadow: 0 0px 15px rgba(255, 255, 255, 0.25);
                            }
                        }

                        .secondary-light {
                            cursor: pointer;
                            font-size: 14px;
                            padding: 8px 16px 8px 16px;
                            background-color: white;
                            border-radius: 24px;
                            display: flex;
                            align-items: center;
                            color: #111;
                            border: 2px solid #111;
                            font-family: MonaSansMedium;
                            width: 100%;
                            justify-content: center;

                            transition: all 0.25s;


                            .icon {
                                padding-left: 6px;
                            }

                            &:hover {
                                border: 2px solid black;
                                background-color: white;
                                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            }
                        }
                        .secondary-dark {
                            cursor: pointer;
                            font-size: 14px;
                            padding: 8px 16px 8px 16px;
                            background-color: transparent;
                            border-radius: 24px;
                            display: flex;
                            align-items: center;
                            color: white;
                            font-family: MonaSansMedium;
                            width: 100%;
                            justify-content: center;
                            border: 2px solid white;

                            transition: all 0.25s;


                            .icon {
                                padding-left: 6px;
                            }

                            &:hover {
                                box-shadow: 0 0px 15px rgba(255, 255, 255, 0.25);
                            }
                        }
                    }
                }
            }   
        }

    }
}