@font-face {
    font-family: "MonaSansExtraBold";
    src: local("Mona-Sans-ExtraBold.woff2"),
    url("./fonts/Mona-Sans-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "MonaSansMedium";
    src: local("Mona-Sans-Medium.woff2"),
    url("./fonts/Mona-Sans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "MonaSansRegular";
    src: local("Mona-Sans-Regular.woff2"),
    url("./fonts/Mona-Sans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "MonaSansSemiBold";
    src: local("Mona-Sans-SemiBold.woff2"),
    url("./fonts/Mona-Sans-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "MonaSansBold";
    src: local("Mona-Sans-Bold.woff2"),
    url("./fonts/Mona-Sans-Bold.woff2") format("woff2");
}


